# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.cer
*.key

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Variables
# Ignore all local environment files
.env.local
.env.*.local

# --- BUT ---
# Do NOT ignore .env.example files (if you want to commit them)
# You can create a .env.example file to show what variables are needed for the project
!/.env.example
!/.env.example.public

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.tsnode_modules/
.env
